body{
    margin: 0;
}
#left{
    width: 400px;
    height:300px;
    position: absolute;
}
#floatDiv{
    width:160px;
    height: 120px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left:0;
    top:0;
    display: none;
}
#left img{
    width:400px;
    height:225px;
}
#right{
    width: 400px;
    height:300px;
    position:absolute;
    left:500px;
    top:0px;
    border: 1px solid #000;
    overflow: hidden;
    display: none;
}
#right img{
    position: absolute;
}